<div class="row">
  <div class="col-6">
    <!-- Using Simple Element Ref -->
    <h3 appSimpleDirective>This Heading is Colorized By Basic Attribute Directive</h3>

    <!-- Using @HostBinding, Renderer2,  @HostListener -->
    <h3 appCustomDirective>This Heading is using @HostBinding, Renderer2, @HostListener Options</h3>
    <hr>
    <!-- @Input() Decorator for Attributes Felexiblity Options -->
    <!-- This an Example of Property, Attribute, Default Directive Binding -->
    <h5 appFelexibleDirective="yellow" [bgColorParameter]="'#ff45008f'" borderParameter="3px solid red">
      This Heading is Using @Input for Providing More Felexibility <br>
      <i>This an Example of Property, Attribute, Default Directive Binding </i>
    </h5>
    <hr>
    <h6 *appCustomStructuralDirective="customStructualDirective">
      This is Hiding and Displayed using Custome Structural Directive
    </h6>
    <button type="button" (click)="customStructualDirective = !customStructualDirective">
      Custom Structural Directive
    </button>
  </div>
  <div class="col-6">
    <span [ngSwitch]="num">
    <p *ngSwitchCase="5"> Five</p>
    <p *ngSwitchCase="10"> Ten</p>
    <p *ngSwitchCase="100">Hundred </p>
    <p *ngSwitchDefault>0</p>
    </span>
  </div>
</div>
