<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="navbar-header">
    <a class="navbar-brand">Recipe Book</a>
  </div>
  <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="my-nav" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="cursor: pointer;"  [ngClass]="{'active': selectedLink === 'recipe'}" (click)="onSelect('recipe')">Recipes </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer;" [ngClass]="{'active': selectedLink === 'shopping-list'}" (click)="onSelect('shopping-list')">Shoping List</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="dropdown">
        <a style="cursor: pointer;" class="nav-link dropdown-toggle" (click)="dropdown = !dropdown" role="button">
          Manage<span class="caret"></span>
        </a>
        <ul class="dropdown-menu" [class.d-block]="dropdown">
          <li><a class="dropdown-item"  style="cursor: pointer;"
            [ngClass]="{'active': current === 'savedata'}" (click)="current = 'savedata'">Save Data</a></li>
          <li><a class="dropdown-item" style="cursor: pointer;"
            [ngClass]="{'active': current === 'fetchdata'}" (click)="current = 'fetchdata'">Fetch Data</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
