<div class="row">
  <div class="col-6">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
        <div class="form-group">
          <label for="username">User Name</label>
          <input [ngModel]="usernamefield" name="username" required #username="ngModel" type="text" id="username"
            class="form-control">
          <span *ngIf="!username.valid && username.touched" class="text-danger"><b>User Name</b> is Required</span> <br>
        </div>
        <div class="form-group">
          <label for="email">Mail</label>
          <input [ngModel]="emailfield" name="email" required email #email="ngModel" type="email" id="email"
            class="form-control">
          <span *ngIf="!email.valid && email.touched" class="text-danger"><b>Email </b> is Required</span> <br>
          <span *ngIf="!userData.valid && userData.touched" class="text-danger"><b>User Data Group </b> is
            Invalid</span>
        </div>
      </div>
      <div class="form-group">
        <label for="secret">Secret Question</label>
        <select [ngModel]="secretfield" name="secret" required #secret="ngModel" class="form-control" id="secret">
          <option value=""></option>
          <option value="pet">Your First Pet</option>
          <option value="teacher">Your First Teacher</option>
        </select>
        <span *ngIf="!secret.valid && secret.touched" class="text-danger"><b>Secret </b> is Invalid</span> <br>
      </div>
      <div class="form-group">
        <label for="username">Gender</label>
        <br>
        <div class="form-control">
          <label *ngFor="let gender of gendersfield" [for]="gender">
            <input type="radio" required [value]="gender" ngModel name="gender" [id]="gender"> {{gender}} &nbsp;
            &nbsp;&nbsp;
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="secret">Secret Question</label>
        <textarea [(ngModel)]="commentfield" name="comment" required #comment type="email" id="email"
          class="form-control"></textarea>
        <span *ngIf="!comment.valid && comment.touched" class="text-danger"><b>Comment </b> is Required</span>
        <br>
        <p>{{ commentfield }}</p>
      </div>
      <div class="form-group">
        <button class="btn btn-outline-info mt-2" (click)="suggestedUserName()" type="button">Suggest a User
          Name</button>
        &nbsp; &nbsp;
        <button class="btn btn-outline-info mt-2" [disabled]="!form.valid" type="submit">Submit</button>
        &nbsp; &nbsp;
        <button class="btn btn-outline-warning ml-3 mt-2" (click)="resetControl()" type="button">Resetting</button>
        <br>
        <span *ngIf="!form.valid && form.touched" class="text-danger"><b>Form </b> is Invalid</span> <br>
      </div>
    </form>
  </div>
</div>
