<div class="container">
 <app-cockpit (serverCreated)="onServerAdded($event)" (blueprintCreated)="onBlueprintAdded($event)" ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element *ngFor="let appelement of serverElements" [server-elements]="appelement" >
        <p>
          <strong *ngIf="appelement.type === 'server'" style="color:red">
            {{appelement.content}}
          </strong>
          <em *ngIf="appelement.type === 'blueprint'" style="color:blue">
            {{appelement.content}}
          </em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
b
