<div class="row">
  <div class="col-md-12">
    <div class="card" *ngIf="selectedRecipe">
      <img class="card-img-top img-thumbnail" [src]="selectedRecipe.imagePath" style="height:250px" alt="">
      <div class="card-body">
        <h5 class="card-title">{{selectedRecipe.name}}</h5>
        <p class="card-text">{{selectedRecipe.description}}</p>
        <ul class="list-group">
          <a href="#" class="list-group-item" cursor="pointer" *ngFor="let ingredient of selectedRecipe.ingredients">
          {{ingredient.name + ' (' + ingredient.amount +') '}}
        </a>
      </ul>
      </div>
      <div class="card-footer">
        <div class="btn-group dropdown">
          <button class="btn btn-primary" (click)="dropdown = !dropdown">Manage Recipe
            <span class="sr-only"></span>
          </button>
        </div>
        <div class="dropdown-menu" [class.d-block]="dropdown" aria-labelledby="my-dropdown">
          <a class="dropdown-item" style="cursor: pointer;" [ngClass]="{'active': current === 'toshopinglist'}"
            (click)="addToShoppingList('toshopinglist')">To Shoping List</a>
          <a class="dropdown-item" style="cursor: pointer;" [ngClass]="{'active': current === 'editRecipe'}"
            (click)="current = 'editRecipe'">Edit Recipe</a>
          <a class="dropdown-item" style="cursor: pointer;" [ngClass]="{'active': current === 'delteRecipe'}"
            (click)="current = 'delteRecipe'">Delete Recipe</a>
        </div>
      </div>
    </div>
  </div>
</div>
