<div class="row m-2">
  <div class="col-12 p-2 bg-success" style="border-radius: 10px;">
    <h5>{{account.name}}</h5>
    <hr>
    <p>This Account is {{account.status}}</p>
    <div class="btn-group" role="group" aria-label="Button group">
      <button class="btn btn-outline-info" (click)="onSetTo('active')" >Active</button>
      <button class="btn btn-outline-info" (click)="onSetTo('inactive')" >Inactive</button>
      <button class="btn btn-outline-info" (click)="onSetTo('unknown')" >Unknown</button>
    </div>

  </div>
</div>
