<form>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" #name id="name" class="form-control">
      </div>
    </div>
    <div class="col-12 mt-2">
      <div class="form-group">
        <label for="name">Amount</label>
        <input type="number" #amount id="name" class="form-control">
      </div>
    </div>
    <div class="col-12 mt-2">
      <div class="btn-group">
        <button class="btn btn-success" (click)="AddItems()" type="button">Add</button>
        <button class="btn btn-warning" type="button">Delete</button>
        <button class="btn btn-primary" type="button">Clear</button>
      </div>
    </div>
    <div class="col-12 mt-2">
      <h2> I want my Parent to Send object here</h2>
      <ng-content></ng-content>
    </div>
  </div>
</form>
