<form (ngSubmit)="onSubmit(sForm)" #sForm="ngForm">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="name">Name</label>
        <input ngModel name="name" required id="name" type="text" class="form-control">
        <!-- <span class="text-danger" *ngIf="name.valid && name.touched">
          <b>Shopping List Name </b> is not Valid </span> -->
      </div>
    </div>
    <div class="col-12 mt-2">
      <div class="form-group">
        <label for="name">Amount</label>
        <input ngModel name="amount" required pattern="^[1-9]+[0-9]*$" type="number" id="name" class="form-control">
        <!-- <span class="text-danger" *ngIf="amount.valid && amount.touched">
          <b>Shopping List Amount</b> is not Valid </span> -->
      </div>
    </div>
    <div class="col-12 mt-2">
      <div class="btn-group">
        <button class="btn btn-success" type="submit" [disabled]="!sForm.valid">
          {{editMode ? 'Update' : 'Add'}}
        </button>
        <button class="btn btn-warning" *ngIf="editMode" (click)="onDelete()" type="button">Delete</button>
        <button class="btn btn-primary" (click)="resetForm()" type="button">Clear</button>
      </div>
    </div>
    <div class="col-12 mt-2">
      <h2> I want my Parent to Send object here</h2>
      <ng-content></ng-content>
    </div>
  </div>
</form>
